
<tr>
    <td>
        Summary of Qualifications
    </td>
    <td>
        <p>I am a software engineer without professional experience background in database design and development. My practical knowledge of the most popular database management systems and languages, including MS SQL, allowed me to participate in exciting projects where I managed to extend my experience with the requirements gathering, customer communication.
          </p>
          <p>            
          I have a good knowledge and working experience of Agile Scrum methodology.
        </p>
        <p>
        I am good team player with strong self-motivation and good communication skills, I love learning new technologies and solve hard tasks, I enjoy my work and always strive to do the best to have customers satisfied.
      </p>
    </td>
  </tr>